.topic {
  font-size: 25px;
  text-align: center;
  color: red;
  padding-top: 25px;
  :hover {
    color: green;
  }
}

.font {
  cursor: pointer;
}
.header {
  background-image: url('https://wallpaperaccess.com/full/359112.jpg');
}
